/* Maquetado de Contenedores Principales */

* {
    font-family: 'Open Sans', Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
}

.contenedor {
    margin: auto;
    background-color: #dfdfdf;
    color: #202020;
    width: 85%;
    max-width: 1100px;
}

.contenedor.index, .contenedor.contacto {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header"
                        "main aside"
                        "footer footer";
}

.contenedor.index {
    grid-template-columns: 70% 30%;
}

.contenedor.contacto {
    grid-template-columns: 60% 40%;
}

header.index, header.contacto {
    grid-area: header;
}

main.index, main.contacto {
    grid-area: main;
}

aside.index, aside.contacto {
    grid-area: aside;
}

footer.index, footer.contacto {
    grid-area: footer;
}



/* Maquetado de Header */

header {
    background-color: #212121;
    color: #dfdfdf;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header a:link, footer a:link, header a:visited, footer a:visited {
    color: #dfdfdf;
}

nav {
    margin-top: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav a {
    padding: 1rem;
    border: black 0.1rem solid;
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    background-color: #404040;
}

.logo {
    font-size: 3rem;
    margin: 1rem;
    display: inline-block;
}

/* Maquetado de Main */

main {
    padding: 1rem;
}

/* Maquetado de Formulario */

.titulo {
    font-weight: 600;
    width: 7rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.prueba {
    margin-top: auto;
    margin-bottom: auto;
    height: 9rem;
    vertical-align: middle;
}

.input-text {
    margin-bottom: 1rem;
    color: #dfdfdf;
    background-color: #202020;
    width: 21rem;
    height: 1.5rem;
    border: none;
}

.checkbox {
    display: inline-block;
}

.checkbox input {
    color: #202020;
}

textarea {
    margin-bottom: 1rem;
    color: #dfdfdf;
    background-color: #202020;
    width: 21rem;
    height: 9rem;
    resize: none;
}

.button {
    color: #dfdfdf;
    background-color: #202020;
    font-weight: 600;
    height: 2rem;
    width: 4rem;
}

/* Maquetado de Aside */

aside {
    padding: 1rem;
    background-color: #bfbfbf;
}

/* Maquetado de Footer */

footer {
    background-color: #202020;
    color: #dfdfdf;
}

footer p {
    font-size: 1rem;
    margin: 1rem;
    display: inline-block;

}

footer a {
    font-size: 1.50rem;
    margin: 0.65rem 1rem 0.65rem 0;
    display: inline-block;
}

footer a:hover  {
    color: #404040;
}

.redes {
    float:right;
}

@media only screen and (max-width: 768px) {
    
    
    header {
        flex-direction: column;
    }

    nav {
        margin: auto;
    }

    .contenedor {
        width: 100%;
    }

    .logo {
        margin: 1rem auto 1rem auto;
    }

    .contenedor.index, .contenedor.contacto {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "header"
                            "main"
                            "aside"
                            "footer";
    }
}